
- imagesUrl = {linkedin: image_url('linkedin.png'),github: image_url('GitHub.png'),android: image_url('android.png'),rails: image_url('rails.png'),reactjs: image_url('reactjs.png'),swift: image_url('swift.png'),js: image_url('js.png'),cplusplus: image_url('CPlusPlus.jpg')}
= react_component('Skills',{images: imagesUrl})
